<!DOCTYPE html>
<html ng-app = 'myApp'>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Cupcake Site</title>
    <script src="vendors/angular.min.js" type="text/javascript"></script>
    <script src="scripts/client.js" type="text/javascript"></script>
    <link rel="stylesheet" href= "/stylesheets/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre" rel="stylesheet">
  </head>
  <body>
    <main>
    <h1> Cupcake Business </h1>
    <div ng-controller = 'sampleController'>
      <h2> Cupcake Order Form:</h2>
    <input type= "text" ng-model= "sampleBinder" value= "" placeholder="Name">
    <input type= "text" ng-model= "sampleBinder2" value= "" placeholder="Phone Number">
    <p> Two way bind output: {{ sampleBinder }}{{ sampleBinder2 }} </p>
    <button type="button" name="button" ng-click= "checkInput()" >check input</button>
    <ul>
      <li ng-repeat='record in outsideArray'>{{ record.first}} {{record.second}}</li>
    </div>
  </main>
  </body>
</html>
